*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color:rgb(11, 13, 54);
}
.container{
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    flex-direction: column;
    position: relative;
}
img{
    width: 80%;
    max-width:575px;
    height:300px;
    position: absolute;
    border-radius:12px;
}


.radio{
    display: flex;
    z-index: 1;
    position: absolute;
    top: 75%;
    
}

input{
    margin: 0 10px;
    width: 25px;
    height: 25px;
}

body:has(input:nth-child(1):checked) img:nth-child(1){
    z-index: 1;
}
body:has(input:nth-child(2):checked) img:nth-child(2){
    z-index: 2;
}
body:has(input:nth-child(3):checked) img:nth-child(3){
    z-index: 3;
}
body:has(input:nth-child(4):checked) img:nth-child(4){
    z-index: 4;
}
